::-webkit-scrollbar { /* 1 - скроллбар */
  width: 0.8em;
  background-color: transparent;
}

::-webkit-scrollbar-button { /* 2 - кнопка */
  color: #000;
}

::-webkit-scrollbar-track { /* 3 - трек */
	color: #000
}

.thumb {
    transform: scale(0.8); 
}

.thumb { 
	  transition: 2s;
} 
.thumb:hover { 
	  transform: scale(1.05) !important;  
}


.thumbs:hover 
.thumb-rev { 
    transition: 1s;
    transform: scale(0.9); 
} 
.thumb-rev { 
    transition: .5s;  
} 
.thumb-rev:hover { 
    transform: scale(.95) !important;  
    transition: .5s;  
}