.block-contacts, .block-content, body, header {
	background: #222;
    color: #dadada;
}

.pre__content {
	background-image: url(https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.pre__content img, .pre__content p {
	box-shadow: .1em .2em .5em .3em rgba(20, 20, 20, 0.16);
}

.block-pills {
	margin: 0 auto;
	margin-left: -6.5em;
}
/* Оформление списка */
.pills {
	width: 50%;
	min-width: 650px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;;
	margin-top: 3em;
	margin-bottom: 3em;
	list-style: none;
	font-size: 1.2em;
	counter-reset: li;
}
.pills li, span {
	transition: .4s;
}
.pills li {
	user-select: none;
	top: 0;
	text-align: left;
	left: -230px;
	padding: 10px 0;
	position: relative;
	left: 1.5em;
	margin-bottom: 1em;
	padding-left: 1em;
	border-radius: 30px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
    color: #eeeeee;
    background: linear-gradient(to left, #373737 50%, #393939 50%) right;
    background-size: 200%;
}
.pills li {
	text-indent: 40px;
	font-size: 22px;
}

/* Цвет фона (насыщенный) */
.pills li:hover, .pills li:before, span {
	background: #111;
}
/* Цвет фона (пастельный) */
span:hover, .under-pills-content {
	background-color: #111;
}

.pills li:hover {
	color: #e0e0e0;
	cursor: pointer;
	background: linear-gradient(to right, #111 50%, #393939 50%) left;
	transition: .5s ease-out;
    background-size: 200%;
}
.pills li:before {
	text-align: center;
	padding: 10px 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2em;
	color: white;
	font-weight: bold;
	border-bottom-left-radius: 70em;
	border-top-left-radius: 70em;
	counter-increment: li;
	content: counter(li);
}

/* Оформление внутри раскрывающегося списка */
.under-pills-collapsible {
	color: white;
	cursor: pointer;
	width: 100%;
	font-size: 20px;
}
.under-pills-content, .under-pills-img-content {
	border-radius: 2em;
}
.under-pills-content {
	margin: 0 auto;
	width: 80%;
	opacity: 0;
	max-width: 800px;
	margin-bottom: 1em;
	max-height: 0;
	font-size: .8em;
	overflow: hidden;
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .18);
	transition: max-height .4s ease-out;
}
.under-pills-img-content {
	width: 100%;
}


.buttons, .button-redirect {
	color: #232323;
	box-shadow:  .1em .1em .3em rgba(26, 26, 26, .3), 
             -.1em -.1em .3em rgba(26, 26, 26, .3);
}

/* Цветовые акценты */
.boom-color {
	color: #D6D6E1;
}
.block-buttons div {
	background-color: #014751;
}
/* ВСЕ КНОПКИ */
.button-redirect {
	transition-duration: .3s;
	color: #232323;
	background: #c6dbda;
}
.accent-color {
	background-color: #00e0c7
}
/* Кнопки меню */
.buttons:hover {
	background: #999;
}
/* Ссылки */
a {
	color: #9067c6;
}

.merry-christmas {
	color: #dadada;
}


/* СКРОЛЛБАР */
::-webkit-scrollbar-thumb { /* 5 - ползунок */
	border-radius: 3em;
	background-color: rgba(115, 115, 115, .7);
}
  ::-webkit-scrollbar-thumb:hover {
	background-color: rgb(24, 24, 24);
	width: 1.8em;
	transition: 1s;
}