*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

section {
	padding: 1em;
	text-align: center;
}


body #cdawrap a {
	color: #fff !important;
}

body .loaded ~ #cdawrap {
	opacity: 1;
}

body #cdawrap #cda-remove {
	top: 20px;
	right: 25px;
	width: 20px;
	height: 20px;
	opacity: 0;
}

body #cdawrap:hover #cda-remove {
	opacity: 1;
}

@media screen and (max-width: 35em) {
	.codrops-icon span {
		display: none;
	}
}