@font-face {
    font-family: 'Pobeda';
    src: url(../fonts/pobeda-regular.ttf);
}
.ip-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-height: 12vw;
    width: 100%;
    height: 100%;
    background: #44535e;
}

.ip-header h1 {
    margin: 0 auto;
}

.ip-h1,
.ip-loader {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.ip-h1 {
    position: relative;
    top: -.5vw;
    height: 51.2vw;
    -webkit-transform: translate3d(0,25vw,0);
    transform: translate3d(0,15vw,0);
    font-family: 'Pobeda';
    color: #FFF;
    text-align: center;
    font-size: 6vw;
}

.ip-loader {
    bottom: 20vw;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}


.loaded .ip-header .ip-h1 svg {
    max-height: 10vw;
}

.ip-header .ip-h1 svg path {
    fill: #1c9ccd;
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 5;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #fff;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    -webkit-transition: stroke-dashoffset 0.2s;
    transition: stroke-dashoffset 0.2s;
    stroke: #fde482;
}

/* Content */

.ip-main {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: -34.4vw;
    padding: 4vw 0 10vw 0;
    width: 90vw;
}

.ip-main h2 {
    margin: 0;
    color: #1c9ccd;
    text-align: center;
    font-size: 4vw;
    line-height: 1;
}

.box {
    float: left;
    padding: 3.5vw;
    width: 33vw;
    font-size: 0.7vw;
    line-height: 1;
}

.box p {
    font-family: 'Blokk', Arial, sans-serif;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
    display: block;
    margin-bottom: 0.5vw;
    padding: 0.5vw;
    border-radius: .3vw;
    background: #dfdfdf;
    color: #fff;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 8vw;
    font-family: 'feather';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
    content: "\e006";
}

.icon-cog:before {
    content: "\e023";
}

.icon-heart:before {
    content: "\e024";
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-h1,
.loading .ip-loader {
    opacity: 1;
}

.loading .ip-h1 {
    -webkit-animation: animInitialLogo .1.2s cubic-bezier(0.7,0,0.3,1) both;
    animation: animInitialLogo 1.2s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLogo {
    from { opacity: 0; }
}

@keyframes animInitialLogo {
    from { opacity: 0; }
}

.loading .ip-loader {
    -webkit-animation: animInitialLoader 1.2s cubic-bezier(0.7,0,0.3,1) both;
    animation: animInitialLoader 1.2s cubic-bezier(0.7,0,0.3,1) both;
}

@-webkit-keyframes animInitialLoader {
    from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
    from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

/* Header elements when loading finishes */
.loaded .ip-h1,
.loaded .ip-loader {
    opacity: 1;
}

.loaded .ip-h1 {
    -webkit-transform-origin: 40vw 0;
    transform-origin: 135vw 0;
    -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,1.2vw,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,1.2vw,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 1.2s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLoader 1.2s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-h1 svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #FFF;
}

/* Header animation when loading finishes */
.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1.2s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedHeader 1.2s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main,
.loaded .codrops-demos {
    -webkit-animation: animLoadedContent 1.2s cubic-bezier(0.7,0,0.3,1) both;
    animation: animLoadedContent 1.2s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main,
.loaded .ip-main .browser .box:first-child {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loaded .codrops-demos,
.loaded .ip-main .browser .box:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Change layout class for header */
.layout-switch .ip-header {
    position: absolute;
}

/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0;
}

.no-js .ip-header .ip-h1 {
    margin-top: -15vw;
    height: 5vw;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .ip-header .ip-h1 svg path {
    fill: #FFF;
}

/* Media queries */

@media screen and (max-width: 45vw) {

    .box {
        width: 20vw;
    }

}
