@font-face {
	font-family: 'Libra';
	src: url(../fonts/libra.woff2);
}
@font-face {
	font-family: 'Buyan';
	src: url(../fonts/Buyan/BuyanBold.ttf);
}
@font-face {
	font-family: 'Binaria';
    src: url(../fonts/Binaria.otf);
}
@font-face {
	font-family: 'Verdana';
	src: url(../fonts/Verdana.ttf);
}
@font-face {
	font-family: 'Igra';
	src: url(../fonts/IgraSans.otf);
}
@font-face {
	font-family: 'SFNS';
	src: url(../fonts/SFNS.ttf);
}

/* Скрытие блоков при загрузке */
#hide, #content {
	opacity: 0;
}
#contacts {
	font-family: 'Binaria';
}

html {
	scroll-behavior: smooth;
}
body {
    transition: 1s;
	font-family: 'SFNS';
	/* background-color: #D6D6E1; */
}

/* Основные теги */
h1 {
	font-family: 'Libra';
	font-size: 3.5em;
	margin: 0;
	transition: .5s;
	user-select: none;
	text-shadow: #444444 2px 8px 14px;
	opacity: 1;
}
h1:hover {
	color: #5215fc;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
h2, h3, h4 {
	margin-top: 1em;
	margin: 0 auto;
	padding: .3em;
	font-family: 'SFNS';
}
h2 {
	font-size: 3.6em;
}
h3 {
	font-size: 2.6em;
}
h4 {
	font-size: 1.8em;
}
p {
	font-family: 'SFNS';
	text-align: center;
	font-size: 1.4em;
}

.img-container-abouter {
	text-align: center;
}
.img-container-abouter img {
	width: 60%;
	border-radius: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.p-discraption, .pills {
	font-family: 'SFNS';
}
.p-discraption {
	margin: 0 auto;
	text-align: left;
	font-size: 1.6em;
	text-align: center;
	width: 60%;
	min-width: 400px;
}

/* Верзний сайдбар */
header {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
	align-items: center;
    min-width: 800px;
    width: 92vw;
    border-radius: 1.3em;
}
button {
	border: none;
	border-radius: 50%;
}
button:hover {
	cursor: pointer;
}
.nav-links {
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.nav-links li {
    display: inline-block;
    padding: 0 5px;
}
.nav-links li a {
    transition: all .3s ease 0s;
}

span {
	border-radius: 1.5em;
	padding: .4em;
	font-size: .8em;
}
span:hover {
	color: #373737;
}
a {
	text-align: center;
	text-decoration: none;
	transition: .3s;
}
a:hover {
	text-decoration: none;
	opacity: .7;
}
.center {
	text-align: center;
}

/* Разделитель общий */
hr {
	background-color: #333;
	width: 90%;
	height: .6em;
	margin-bottom: 1.5em;
	border: none;
	border-radius: 50%;
	text-align: center;
}

/* Разделитель внутри темы */
.separator_hr {
	width: 40%;
}

/* Оформление профиля */
.pre__content {
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	margin: 0 auto;
    text-align: center;
	width: 80%;
	max-width: 2000px;
	padding: 1em;
	border-radius: 1.5em;
}
.pre__text {
	display: flex;
	flex-direction: column;
}
.pre__content img, .pre__content p {
	transition: .3s;
	width: 40%;
	user-select: none;
}
.pre__content img {
	width: 200px;
	height: 200px;
    border-radius: 50%;
	margin-left: 20%;
	margin: 0 auto;
	opacity: .8;
	user-select: none;
}
.pre__content p {
	display: table-cell;
	backdrop-filter: blur(10px);
	border-radius: 1.5em;
	padding: 1.4em;
	text-align: left;
	opacity: .9;
	width: 50%;
	height: 100%;
}
.pre__content p:hover, .pre__content img:hover {
	box-shadow: .1em .1em .5em .5em rgba(31, 31, 31, 0.5);
	opacity: .95;
}
.pre__content div img {
	width: 6em;
	height: 6em;
}

/* Оформление кнопок */
.buttons, .button-redirect {
	color: #373737;
	font-family: 'Binaria';
	text-decoration: none;
	margin: 2px;
	font-size: 1.2em;
	border-radius: 1em;
	width: 180px;
	text-align: center;
	padding: 20px;
	display: inline-block;
	transition-duration: .6s;
}
.change:buttons {
	width: 20%;
}
.buttons:hover, .button-redirect:hover {
	transition-duration: .3s;
	box-shadow:  .2em .2em .5em #2b2b2b, 
             -.2em -.2em .5em #2b2b2b;
}


/* Кнопки перехода по внутренним страницам */
.button-redirect {
	width: 200px;
}
.button-redirect:hover {
	width: 250px;
	opacity: .7;
}

/* Блок кнопок перехода */
.block-buttons {
	font-family: 'SFNS';
	margin: 0 auto;
	padding: 10px;
	display: flex;
	max-width: 1000px;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
}
.block-buttons div {
	background-color: #2e2e41;
	padding: 20px;
	border-radius: 20px;
	transition-duration: .3s;
	width: 400px;
}
.block-buttons span {
	font-size: 1.5em;
	background: none;
}
.block-buttons span:hover {
	background: none;
	color: #4ed164;
}
.block-buttons a:hover {
	text-decoration: underline;
}


.boom-color {
	color: #D6D6E1;
	background: #5215fc;
}
.white {
  	background-color: #f6f6f8
}

/* Цветовые акценты к проектам */
.content-color-cafe {
	background: #dcd7c4
}
.content-color-dark {
	background: #222222;
	color: #f6f6f8;
}
.content-color-black {
    background: #000;
	color: #f6f6f8;
}
.content-color-redesign {
	background: #E1E3ED
}
.content-color-elba {
	background-color: #282C34;
	color: #f6f6f8;
}
.content-cur-conv {
	background-color: #55595F;
	color: #f6f6f8;
}
.content-prom-dyn {
	background-color: #D9B8C4;
}

/* Элементы меню */
.block-menu {
	margin-top: 2em;
	margin: 0 auto;
	padding: .2em;
	width: 95%;
}
.background {
	background:#D6D6E1;
}


/* Портфолио */
.portfolio {
	display: inline-flex;
	flex-direction: row;
}
.portfolio div {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.portfolio div a, .portfolio div {
	width: 90%;
	margin: 0 auto;
}
.portfolio div a img {
	transition: .3s;
	border-radius: 1.5em;
	width: 70%;
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .16);
}
.portfolio div a img:hover {
	box-shadow: .1em .2em .9em .7em #111;
}

/* Для блока с контентом и кнопок: тени, радиус, анимация */
.block-content, .buttons, hr, header {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .06);
	border-radius: 2em;
	transition: 0.3s linear;
}
.block-content:hover, header:hover {
	transition: 0.15s linear;
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .09);
}


/* Блоки с контентом */
.block-content {
	margin: 0 auto;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	padding: 1rem;
	padding-bottom: 3%;
	width: 92vw;
}

.block-contacts {
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.block-contacts a {
	font-size: 20px;
	margin-top: 1em;
	padding: 0 20px;
}

/* Тени */
.pills li {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .06);
}
.pills li:hover, figure:hover {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .12);
}

/* Блок изображений внутри блока с контентом */
.img-container {
	display: inline-block;
}
.img-img-container {
	margin: 0 auto;
	text-align: center;
	padding: 2em;
}


.pref-btn li button {
	height: 58px;
	width: 60px;
}


/* Блок с преимуществами */
.block-advantages, .block-advantages div {
	border-radius: 30px;
}
.block-advantages {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 90%;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: url(https://images.ctfassets.net/kdawwlsweh27/73v8l2HnjGv3e5UmXFwUMc/39b2c778ed19774255d895ac4ee0ff9e/home-hero-banner-image.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.block-advantages div {
	align-items: center;
	display: flex;
	padding: 10px;
	flex-direction: column;
	max-width: 450px;
	width: 25%;
	color: #222;
	background: rgba(216, 216, 216, 0.7);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(1.5px);
	border: 1px solid rgba(255, 255, 255, 0.125);
	box-shadow: 0 0 8px 8px rgba(24, 24, 24, 0.3);
}
.block-advantages div img {
	width: 160px;
}
.block-advantages div p {

}

.merry-christmas {
	width: 92vw;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background: url(https://images.unsplash.com/photo-1669824112132-24e28fcf0342?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
	background-position: center;
	background-repeat: no-repeat;
}
.merry-christmas h1 {
	font-size: 13em;
}
.merry-christmas h1, .merry-christmas h2 {
	backdrop-filter: blur(6px);
	width: fit-content;
	margin: 0 auto;
	padding: 12px;
	transition: .2s;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
	box-shadow: 0 0 10px 10px rgba(17, 17, 17, 0.7);
}
.merry-christmas h1:hover, .merry-christmas h2:hover {
	color: #e0e0e0;
}
