@font-face {
	font-family: 'Libra';
	src: url(../fonts/libra.woff2);
}
@font-face {
	font-family: 'Buyan';
	src: url(../fonts/Buyan/BuyanBold.ttf);
}
@font-face {
	font-family: 'Binaria';
    src: url(../fonts/Binaria.otf);
}
@font-face {
	font-family: 'Verdana';
	src: url(../fonts/Verdana.ttf);
}
@font-face {
	font-family: 'Igra';
	src: url(../fonts/IgraSans.otf);
}
@font-face {
	font-family: 'SFNS';
	src: url(../fonts/SFNS.ttf);
}

/* Скрытие блоков при загрузке */
#web, #programming, #profile, #pre__content {
	opacity: 0;
}
#contacts {
	font-family: 'Binaria';
	font-size: 1.1em;
}

html {
	scroll-behavior: smooth;
}
body {
    transition: 1s;
	font-family: 'SFNS';
	/* background-color: #D6D6E1; */
}

/* Основные теги */
h1 {
	font-family: 'Libra';
	font-size: 3.5em;
	margin: 0;
	transition: .5s;
	user-select: none;
	text-shadow: #444444 2px 8px 14px;
	opacity: 1;
}
h1:hover {
	color: #47001c;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
h2, h3 {
	margin: 0 auto;
	padding: .4em;
	font-family: 'Buyan';
	text-shadow: #5c5c5c 0 7px 12px;
}
h2 {
	font-size: 4.1em;
}
h3 {
	font-size: 2.2em;
}
h4 {
	font-family: 'Binaria';
	font-size: 1.8em;
}
p {
	font-family: 'Igra';
	text-align: center;
	font-size: 1.25em;
}

.img-container-abouter {
	text-align: center;
}
.img-container-abouter img {
	width: 60%;
	border-radius: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.p-discraption, .pills {
	font-family: 'Verdana';
}
.p-discraption {
	margin: 0 auto;
	text-align: left;
	font-size: 1.2em;
	width: 60%;
	min-width: 400px;
}

/* Верзний сайдбар */
header {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
	align-items: center;
    min-width: 800px;
    width: 96%;
    border-radius: 1.3em;
}
button {
	border: none;
	border-radius: 50%;
}
button:hover {
	cursor: pointer;
}
.nav-links {
    list-style: none;
	display: flex;
	align-items: center;
}
.nav-links li {
    display: inline-block;
    padding: 0 5px;
}
.nav-links li a {
    transition: all .3s ease 0s;
}

span {
	border-radius: 1.5em;
	padding: .4em;
	font-size: .8em;
}
span:hover {
	color: #373737;
}
a {
	text-decoration: none;
	transition: .3s;
	font-size: 1.1em;
}
a:hover {
	text-decoration: none;
	opacity: .7;
}
.center {
	text-align: center;
}
hr {
	background-color: #333;
	width: 90%;
	height: .6em;
	margin-bottom: 1.5em;
	border: none;
	border-radius: 50%;
	text-align: center;
}
/* Разделитель */
.separator_hr {
	width: 40%;
}

/* Оформление профиля */
.pre__content {
	background-image: url("../img/wave-pattern.jpg");
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
    text-align: center;
	width: 70%;
	padding: 1em;
	border-radius: 1.5em;
}
/* box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, .15); */
.pre__content .pre__text {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 500px;
} 

.pre__content img, .pre__content p {
	transition: .4s;
	user-select: none;
}
.pre__content img {
	width: 20%;
	height: 20%;
    border-radius: 50%;
	margin-left: 20%;
	opacity: .95;
	user-select: none;
}
.pre__content p {
	display: table-cell;
	background-color: #e0e0e0;
	border-radius: 1.5em;
	opacity: .9;
	padding: 1.4em;
	text-align: left;
	width: 40%;
	height: 100%;
}
.pre__content p:hover, .pre__content img:hover {
	box-shadow: .1em .2em .9em .7em #444;
}
.pre__content div img {
	width: 6em;
	height: 6em;
}

/* Оформление кнопок */
.buttons, .button-redirect {
	color: #373737;
	font-family: 'Binaria';
	text-decoration: none;
	margin: .5%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 1.2em;
	border-radius: 1em;
	padding: 20px;
	display: inline-block;
	transition-duration: .6s;
}
.change:buttons {
	width: 20%;
}
.buttons:hover, .button-redirect:hover {
	transition-duration: .3s;
	box-shadow:  .2em .2em 1.5em #2b2b2b, 
             -.2em -.2em 1.5em #2b2b2b;
}

/* Кнопки перехода по внутренним страницам */
.button-redirect {
	width: 200px;
}
.button-redirect:hover {
	width: 350px;
}
/* Блок кнопок перехода */
.block-buttons {
	font-family: 'SFNS';
	margin: 0 auto;
	padding: 20px;
	display: flex;
	max-width: 1000px;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
}
.block-buttons div {
	background-color: #2e2e41;
	padding: 20px;
	border-radius: 20px;
	transition-duration: .3s;
	width: 400px;
}
.block-buttons span {
	font-size: 1.5em;
	background: none;
}
.block-buttons span:hover {
	background: none;
	color: #4ed164;
}
.block-buttons a:hover {
	text-decoration: underline;
}


.white {
  background-color: #f6f6f8
}
.white-accent {
	background-color: #ddddda
}

/* Цветовые акценты к проектам */
.content-color-cafe {
	background: #dcd7c4
}
.content-color-dark {
	background: #222222;
	color: #f6f6f8;
}
.content-color-black {
    background: #000;
	color: #f6f6f8;
}
.content-color-redesign {
	background: #E1E3ED
}
.content-color-elba {
	background-color: #282C34;
	color: #f6f6f8;
}
.content-cur-conv {
	background-color: #55595F;
	color: #f6f6f8;
}
.content-prom-dyn {
	background-color: #D9B8C4;
}

/* Элементы меню */
.block-menu {
	margin-top: 2em;
	margin: 0 auto;
	padding: .2em;
	width: 95%;
}
.background {
	background:#D6D6E1;
}


/* Портфолио */
.portfolio {
	display: inline-flex;
	flex-direction: row;
}
.portfolio div {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.portfolio div a, .portfolio div {
	width: 90%;
	margin: 0 auto;
}
.portfolio div a img {
	transition: .5s;
	border-radius: 1.5em;
	background-color: #D6D6E1;
	width: 70%;
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .16);
}
.portfolio div a img:hover {
	box-shadow: .1em .2em .9em .7em #6e6e6e;
	transform: rotate3d(1, 1, 0, 45deg);
}

/* Для блока с контентом и кнопок: тени, радиус, анимация */
.block-content, .buttons, hr, header {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .06);
	border-radius: 2em;
	transition: 0.3s linear;
}
.block-content:hover, header:hover {
	transition: 0.15s linear;
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .09);
}


/* Блоки с контентом */
.block-content {
	margin: 0 auto;
	margin-top: 3.8em;
	padding: 1rem;
	padding-bottom: 3%;
	width: 92vw;
}

.block-contacts {
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.block-contacts a {
	margin-top: 1em;
	padding: 0 20px;
}

/* Тени */
.pills li {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .06);
}
.pills li:hover, figure:hover {
	box-shadow: .1em .2em .9em .7em rgba(0, 0, 0, .12);
}

/* Блок изображений внутри блока с контентом */
.img-container {
	display: inline-block;
}
.img-img-container {
	margin: 0 auto;
	text-align: center;
	padding: 2em;
}


.pref-btn li button {
	height: 58px;
	width: 60px;
}

input.apple-switch {
	position: relative;
	-webkit-appearance: none;
	outline: none;
	width: 50px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #D9DADC;
	border-radius: 50px;
	box-shadow: inset -20px 0 0 0 #fff;
  }
  
input.apple-switch:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	background: transparent;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
	box-shadow: inset 20px 0 0 0 #4ed164;
	border-color: #4ed164;
}

input.apple-switch:checked:after {
	left: 20px;
	box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
