@font-face {
  font-family: 'Pobeda';
  src: url(../fonts/pobeda-regular.ttf);
}
@font-face {
    font-family: 'Arial';
    src: url(../fonts/Arial.ttf);
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h3, p, a {
	color: #FFF;
  font-family: 'Arial'
}
h1 {
  font-size: 16vw;
  position: static;
  margin-top: 10.65vw
}
h2 {
  font-family: 'Pobeda';
  color: #FFF;
  font-size: 6em;
  margin-left: .5em;
  margin-bottom: .4vw;
}
.header {
  text-align: left;
  position: static;
}
.h2-header {
  text-align: center;
  font-family: 'Arial';
  font-size: 3.5em;
  margin-left: 0
}
p {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em
}
.p-font {
  font-family: 'Pobeda';
  font-size: 5em
}
.p-ctr {
  color: #FFF
}
a {
  text-decoration: none;
}
.a-content {
  color: #FFF;
  text-decoration: underline;
  transition-duration: .3s
}
.a-content:hover {
  color: #c66aab;
  text-decoration: none;
  transition-duration: .3s
}
.a-contact {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  margin-top: .8vw;
  font-size: 1.3em;
  display: block;
  text-decoration: underline;
  transition-duration: .6s;
}
.a-contact:hover {
  color: #fde482;
  transition-duration: .6s
}

/*Элементы меню*/
.menu {
	position: absolute;
  margin: 0 auto;
  padding-left: 5vw;
	top: .8vw;
  width: 100%;
}
.buttons {
	padding-left: 1vw;
	color: #000;
	text-decoration: none;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 1.3vw;
	margin-left: .2vw;
  border-radius: .9vw;
  padding: .62vw 1.5vw;
  display: inline-block;
  transition-duration: .6s;	
}
.buttons:hover {
	color: #FFF;
	background-color: #2a004a;
	transition-duration: .6s;
  box-shadow:  10px 10px 39px #9660a4, 
             -10px -10px 39px #ffa8ff;
}
.yellow {
	background-color: #fde482
}
.violet {
	background-color: #b666d2
}
.ocean {
	background-color: #0be7fb
}
.red {
  background-color: #ff6d69;
}
.white {
  background-color: #f6f6f8;
}


/*Контентная часть*/
figure {
  display: inline-block;
  padding: .1vw;
  margin: 0 .9vw 0 0;
  vertical-align: top; 
}
figcaption { 
  text-align: center;
  color: #FFF;
  font-size: .6vw;
}
hr {
  left: 0;
  right: 0;
  width: 93%;
  height: .08vw;
  background-color: #FFF;
  color: #FFF;
  border-radius: 2em
}
.hr-content {
  width: 50%;
  height: 4px;
  background-color: #FFF;
  color: #FFF;
  border-radius: 2em
}
.hr-3 {
  width: 70%
}

.img-con {
  width: 100%;
  display: inline;
}
.img-box {
  width: 46em;
  margin-bottom: 4em;
  margin: 0 auto;
}
.img-content {
  border-radius: 1em;
  width: 40em
}




::-webkit-scrollbar { /* 1 - скроллбар */
    width: 15px;
    height: 30px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button { /* 2 - кнопка */
	color: #000;
  }

  ::-webkit-scrollbar-track { /* 3 - трек */
  	color: #000
  }

  ::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
  }

  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2em;
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
  	background-color: #FFF;

  ::-webkit-scrollbar-corner { /* 6 - уголок */
  }

  ::-webkit-resizer { /* 7 - изменение размеров */
  }