figure.snip1104 {
  position: relative;
  overflow: hidden;
  margin: 1vw;
  margin-left: 0;
  width: 100%;
  background: #000;
  color: #FFF;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 1vw
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  opacity: 0.3;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  font-family: 'Pobeda';
  left: .5em;
  right: .5em;
  display: inline-block;
  background: #000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
}

figure.snip1104 h2 span {
  font-weight: 800;
  font-family: 'Pobeda';
}

figure.snip1104:before {
  height: 90%;
  width: 130%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-60%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #e4b61a;
}

figure.snip1104.blue h2 {
  background: #ba83c4;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.v {
  background: #3a1c17;
}
figure.snip1104.v h2 {
  background: #000;
}

figure.snip1104.ocean {
  background: #7dbbb9;
}
figure.snip1104.ocean h2 {
  background: #000;
}

figure.snip1104.pink {
  background: #faafa0;
}
figure.snip1104.pink h2 {
  background: #000;
}

figure.snip1104.green {
  background: #699b2c;
}
figure.snip1104.green h2 {
  background: #000;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}
figure.snip1104.yellow-blue {
  background: #fecc50;
}

figure.snip1104.yellow-blue h2 {
  background: #0be7fb;
}


figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}