.cssSlider {
    display: block;
    position: relative;
    width: 60%;
    overflow: hidden;
    margin-left: 20%;
    margin-top: 3%
}
.cssSlider .slides {
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    margin: 0;
    padding: 0;
    list-style: none;
}
.cssSlider .slides > li {
    width: 100%;
    height: 70vmin;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.cssSlider .slides > li > img {
    width: 100%;
    height: auto;
}
.img-thumbnails {
    margin-left: 1vw;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
    z-index: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 5.3vw;
}
.cssSlider .thumbnails > li {
    float: left;
    width: 12vw;
}
.cssSlider .thumbnails > li > a {
    display: block;
}
.cssSlider .thumbnails > li > a > img {
    width: 100%;
    height: auto;
}

.cssSlider .slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@-webkit-keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
@keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}



.slideshow {
    margin: 0 auto;
    margin-top: 0em;
    margin-top: 0em;
    overflow: hidden;
    position: absolute;
}

.slide::after {
    content: '';
    display: block;
    width: 100%;
    height: 800px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: fixed;
}

.wrapper {
    width: 100%;
    height: 70px;
    padding-bottom: 38.4%;
    position: relative;
    margin: 0 auto
}

.slide {
    position: absolute;
    left: 100%;
    top: 7%;
    width: 100%;
    margin: 0 auto
}

.slide picture {
    display: block;
    height: 100px;
    margin: 0 auto;
}

.slide picture img {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.wrapper .slide:nth-of-type(1) {
    animation: autoplay1 20s infinite -1s;
}

.wrapper .slide:nth-of-type(2) {
    animation: autoplay1 20s infinite 4s;
}

.wrapper .slide:nth-of-type(3) {
    animation: autoplay1 20s infinite 9s;
}

.wrapper .slide:nth-of-type(4) {
    animation: autoplay1 20s infinite 14s;
}

@keyframes autoplay1 {
    0% {
        left: 100%;
    }
    5% {
        left: 0;
    }
    25% {
        left: 0;
    }
    30% {
        left: -100%;
    }
    100% {
        left: -100%
    }
}

.text-slide {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 77%;
}

.text-slide section {
    display: block;
    margin-top: 7%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.text-slide section h1 {
    margin-top: -100px;
    padding: 25px 0 0;
    color: #fff;
    font-family: 'SFNS Display';
    font-size: 50px
}

.text-slide section p {
    color: #fff;
    font-family: 'SFNS Display';
    font-size: 20px;
    position: absolute;
    margin-top: 45%;
    left: 0;
    width: 100%;
}

.wrapper .text-slide:nth-of-type(5) {
    animation: autoplay2 20s infinite -1s;
}

.wrapper .text-slide:nth-of-type(6) {
    animation: autoplay2 20s infinite 4s;
}

.wrapper .text-slide:nth-of-type(7) {
    animation: autoplay2 20s infinite 9s;
}

.wrapper .text-slide:nth-of-type(8) {
    animation: autoplay2 20s infinite 14s;
}

@keyframes autoplay2 {
    0% {
        left: -100%;
    }
    5% {
        left: 0;
    }
    25% {
        left: 0;
    }
    30% {
        left: 100%;
    }
    100% {
        left: 100%
    }
}

@media only screen and (max-width: 640px) {
    .wrapper {
        padding-bottom: 150%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .slideshow {
        max-width: 480px;
    }
    .wrapper {
        padding-bottom: 62.5%;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .wrapper {
        padding-bottom: 150%;
    }
}