@font-face {
	font-style: 'SFNS';
	src: url(../fonts/SFNS.ttf);
}
html {
scroll-behavior: smooth;
}
body {
    background-color: #000
}

.header {
	display: inline-block;
    margin-left: 4em;
	background-color: #000;
}
.header-img {
	margin-top: -30px; 
	width: 20em;
	color: #000;
	background-color: #000;
	margin-left: 180px ;
	margin-bottom: -50px;
}
.menu {
    margin-top: 53px;
    display: inline;
    position: absolute;
    transition-duration: 1s
}

.img-auto {
	width: 23.8em;
	display: inline;
	overflow-x: hidden;
}
.autos {
    width: 100em;
	background-color: #fff;
	border-radius: 15px;
    margin: 0 auto;
    margin-left: 7vw;
}
.hotbox {
	display: inline-block;
}

.auto-content {
	margin-left: 10em;
	margin-right: 10em
}
.auto-content-img {
	width: 1000px;
}
.fig {
	text-align: center;
}

.round {
	border-radius: 1.3em
}

.menu-a {
	font-size: 22px;
	text-align: center;
	color: #999;
    display: inline-block;
    text-decoration: none;
    margin-left: 1.7em;
}
.menu-a:hover {
	color: #fff;
	transition-duration: .8s;
}

.price {
	font-size: 18px;
	color: #7D7E85
}

.auto-about {
    width: 75%;
	background-color: #111;
	border-radius: 20px;
    margin: 0 auto;
	margin-bottom: 50px
}

.p-left {
	text-align: left;
	padding-top: 10px;
	margin-left: 70px;
	margin-bottom: 30px;
    margin-right: 70px
}
.p-right {
    float: right;
    padding-top: 10px;
    margin-right: 70px
}

.p-hr {
	width: 70px;
	height: 1px;
	border-radius: 5px;
	background-color: #fff;
	margin-left: 70px;
	margin-top: -25px
}
.about-auto-img {
	display: inline-block;
	margin-left: 15px;
}
.h2-about-auto {
	text-align: left; 
	margin-top: 40px;
	margin-left: 70px
}




		.s-class-1 {
			width: 450px;
			display: inline-block;
		}
		.s-class-2 {
			width: 450px;
			display: inline-block;
		}
		.s-class-3 {
			width: 350px;
			display: inline-block;
		}
		.p-img-1 {
			text-align: right;
			margin-top: 370px;
			position: absolute;
			font-size: 40px;
			color: #fff;
			margin-left: 460px
		}
		.p-img-2 {
			text-align: center;
			margin-top: 420px;
			margin-left: 450px;
			position: absolute;
			font-size: 18px;		
			color: #fff	
		}
		.a-more-auto {
			display: inline-block; 
			position: absolute;
   			background: #7D7E85; 
    		color: #fff; 
    		padding: 1rem 1.5rem;
    		text-decoration: none; 
   			border-radius: 5px;
   			margin-left: 1120px;
   			margin-top: -60px
		}
		.a-more-auto:hover {
			background-color:  #444;
			transition-duration: .7s
		}

.all-auto {
			display: inline; 
   			background: #7D7E85; 
    		color: #fff; 	
    		text-decoration: none; 
   			border-radius: 5px;
   			padding: 1rem 1.5rem;
   		}
 .auto-category {
 	margin-left: 10%;
 	margin-top: 2em;
 	margin-bottom: 2em 
 }
.all-auto:hover {
			background-color:  #444;
			transition-duration: .7s
}
.p-footer {
    color: #999;
    font-size: 15px;
    margin-top: 10em
}
.content-r {
    float: right;
    display: block;
    margin-right: 100px;
    width: 600px;
    height: 200px
}

.a-footer-container {
    display: inline;
    margin-left: 33%
}
.a-footer {
    font-size: 12px;
    color: #fff;
    margin-left: 3em;
}
.a-footer:hover {
    color: #2F9BF4;
    transition-duration: .6s;
}
.a-link {
    display: inline-block;
}
.a-link:hover {
    background-color: #222;
    transition-duration: 1s;
}

h1, h2, h3, a, p, li {
	font-family: 'SFNS Display';
}
h1 {
	color: #fff;
	font-size: 60px;
	margin-left: 200px;
	margin-top: 0em
}
h2 {
	color: #fff;
	margin-left: 200px;
	font-size: 25.7px
}
p {
	font-size: 1.2em;
	margin-bottom: .3em;
	text-align: center;
}
a {
    color: #000;
    text-decoration: none;
}
hr {
	width: 90%;
	height: 4px;
	border-radius: 5px;
	background-color: #fff;
}
li {
  font-size: 18px
}

	.thumbs:hover 
	.thumb { 
		transform: scale(0.9); 
			} 
	.thumb { 
		transition: 1s;  
			} 
	.thumb:hover { 
		transform: scale(1.1) 
	!important;  }


  .thumbs:hover 
  .thumb-rev { 
    transform: scale(0.9); 
      } 
  .thumb-rev { 
    transition: 1s;  
      } 
  .thumb-rev:hover { 
    transform: scale(.92) 
  !important;  }
