@font-face {
	font-family: 'Pobeda';
	src: url(../fonts/pobeda-regular.ttf);
}
@font-face {
	font-family: 'Mon Amour One';
	src: url(../fonts/mon-amour-one-medium.ttf);
}
@font-face {
	font-family: 'SFNS Display';
	src: url(../fonts/SFNS.ttf)
}
html {
	scroll-behavior: smooth;
}
.box-position {
	margin-top: 4em;
	padding-top: 2em
}

.hesh-tag {
	font-style: italic;
	font-size: 38px;
	float: left;
	margin-top: .1em;
	margin-left: 1%;
	color: #8b4c7a
}
.menu {
	position: fixed;
	margin: 0 auto;
	margin-top: .5%;
	top: 0;
	width: 99.2%;
	background-color: #f2f3f4;
	height: 2.8em;
	opacity: .5;
	border-radius: 1.2em;
	transition-duration: .4s;
}
.elem-menu {
	padding-left: 1em;
	transition-duration: .6s;
	color: #b8e3ea;
	text-decoration: none;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 1.3em;
	margin-left: .2em;
    border-radius: 1.1em;
    color: white;
    padding: .5em 2em;
    background-color: #c7aabc;
    display: inline-block;
    transition-duration: .4s;
}
.elem-menu:hover {
	color: #000;
	background-color: #b8e3ea;
	transition-duration: .4s;
}
.right-btn {
	float: right;
	padding-left: 1em;
	transition-duration: .6s;
	color: #b8e3ea;
	text-decoration: none;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 1.3em;
	margin-right: 1.2%;
    border-radius: 1.1em;
    color: white;
    padding: .5em 2em;
    background-color: #c7aabc;
    display: inline-block;
    transition-duration: .4s;	
}
.right-btn:hover {
	color: #000;
	background-color: #b8e3ea
}


.lviv-logo {
	font-family: 'Mon Amour One';
	font-size: 4.2vw;
	position: absolute;
	margin-left: 3.2vw;
	margin-top: 0
}

h1 {
	font-family: 'Pobeda';
	font-size: 5em;
	margin-left: 1.4em
}
h2 {
	font-family: 'Arial';
	font-size: 2em;
	margin-left: 1.4em
}
.h2-center {
	text-align: center;
	font-family: 'Pobeda';
	font-size: 4em;
	margin-left: 0
}
a {
	text-decoration: none;
	font-family: 'Arial'
}
.a-footer {
	text-decoration: underline;
	color: #000;
	transition-duration: .4s;
	font-size: 22px;
	margin-left: 1em
}
.a-footer:hover {
	font-size: 24px;
	color: #999
}
.a-content {
	text-decoration: underline;
	color: #000;
	transition-duration: .4s
}
.a-content:hover {
	color: #999;
	transition-duration: .4s
}
figcaption {
	text-align: center;
	font-family: 'Arial';
	font-size: 20px;
	color: #000
}
figure {
    display: inline-block; /* Выстраиваем по горизонтали */
}
p {
	font-family: 'Arial';
	font-size: 19px;
	text-indent: 4em;
	margin-left: 5.5em;
	margin-right: 5.5em
}
.p-ctr {
	text-align: center;
	text-indent: 0;
	font-size: 2em
}

.recourses {
	width: 80vw;
	background-color: #f2f3f4;
	border-radius: 20px;
	margin: 0 auto;
}
.contact {
	width: 80vw;
	background-color: #f2f3f4;
	border-radius: 20px;
	margin: 0 auto;	
}

hr {
	width: 60%;
	height: 4px;
	color: #000;
	background-color: #000;
	border-radius: 10px
}

.main-block {
	width: 80vw;
	background-color: #f2f3f4;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 3%;
}
.img-center {
	text-align: center;
	text-indent: 0em
}
.img-round {
	border-radius: 15px
}
.menu:hover {
	opacity: 1;
	transition-duration: .3s
}


.more-town {
	margin: 0 auto;
	width: 550px;
	text-align: center;
}
.img-content {
	margin-top: -3em;
	padding-top: 2em
}
iframe {
	border-radius: 5%
}