/* Размеры картинки */
.o-img {
	width: 50vw
}
body {
	background-image: url(../images/bg1.jpg);
	background-size: 100%
}

	@font-face { 
		font-family: 'SFNS Display';
		src: url(../fonts/SFNS.ttf);
	}
	@font-face {
		font-family: 'Pobeda';
		src: url(../fonts/pobeda-regular.ttf)
	}
	@font-face {
		font-family: 'Mon Amour One, Medium';
		src: url(../fonts/mon-amour-one-medium.ttf)
	}

::-webkit-scrollbar { /* 1 - скроллбар */
    width: 15px;
    height: 30px;
    background-color: #aaaa;
  }

  ::-webkit-scrollbar-button { /* 2 - кнопка */
	color: #fff
  }

  ::-webkit-scrollbar-track { /* 3 - трек */
  	color: #fff
  }

  ::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
  }

  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 30px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-corner { /* 6 - уголок */
  }

  ::-webkit-resizer { /* 7 - изменение размеров */
  }
/* Панель навигации */

    .navig { 
    	border-radius: 0 10px 10px 0; 
	 	width: 29.6em; 
	 	background: #333; 
		color: #fff; 
	 	position: fixed; 
	 	min-height: 6.5vw; 
		top: 100px; left: -485px;
	 	border-right: 20px solid #333; 
	 	padding: 10px;  
		transition: left .5s ease-out;
	} 
	.navig img { 
			float: left; margin: 0 10px 0 0; 
	 			} 
 	.navig::after { 
 		font-family: 'SFNS Display';
	 	content: 'Навигация'; 
	 	color: #fff; 
	 	position: absolute; 
	 	right: -48px; bottom: 50px; 
		transform: rotate(-90deg); 
	} 
	.navig:hover { 
		left: 0; 
	}

/* Скругление картинок и центрирование*/
	.round { 
		border-radius: 5% 
	}
	.fig {
		text-align: center;
	}