body {
	background-color: #222
}
.main-block {
	background: rgb(253,154,104);
background: -moz-linear-gradient(90deg, rgba(253,154,104,1) 0%, rgba(247,92,96,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(253,154,104,1) 0%, rgba(247,92,96,1) 100%);
background: linear-gradient(90deg, rgba(253,154,104,1) 0%, rgba(247,92,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd9a68",endColorstr="#f75c60",GradientType=1);

}
.btn-change {
	background-color: rgb(253,154,104)
}